body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: left;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.title-container {
    margin: 20px 0;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    font-family: 'Georgia', serif;
    letter-spacing: 1px;
}

.subtitle {
    margin: 0;
    font-size: 1.2em;
    font-family: 'Arial', sans-serif;
    font-weight: normal;
    color: #ccc;
}

.index-cards {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.card {
    background-color: #fff;
    color: #333;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 23%;
    text-align: center;
    margin: 5px;
    margin-bottom: 20px;
}

.card:last-child {
    margin-right: 0;
}

.card h3 {
    margin: 0 0 10px 0;
    font-size: 1.2em;
}

.card p {
    margin: 0;
    font-size: 1.5em;
    font-weight: bold;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

#chart-section, #news-section, #about-section {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#chart-container {
    min-height: 40vh; /* Set a minimum height of 40% of the viewport height */
}

#time-range-buttons {
    margin-bottom: 20px;
    overflow-x: auto; /* Enable horizontal scrolling */
    white-space: nowrap; /* Prevent wrapping */
}

#time-range-buttons button {
    margin-right: 10px;
    padding: 10px 20px;
    border: none;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    display: inline-block; /* Ensure buttons are inline */
}

#time-range-buttons button:hover {
    background-color: #555;
}

#time-range-buttons label {
    margin-left: 20px;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}

.checkbox-container {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    user-select: none;
}

.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 5px;
}

.checkbox-container:hover input ~ .checkmark {
    background-color: #ccc;
}

.checkbox-container input:checked ~ .checkmark {
    background-color: #333;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}

.checkbox-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer p {
    margin: 0;
}

#news-section {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.news-article {
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.news-article h3 {
    margin: 0 0 10px 0;
    font-size: 1.5em;
    color: #333;
}

.news-article p {
    margin: 0;
    font-size: 1em;
    color: #666;
}

/* Media Queries for Mobile Devices */
@media (max-width: 768px) {
    .index-cards {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 90%;
        margin-right: 0;
    }

    #time-range-buttons {
        display: flex;
        flex-direction: row; /* Ensure buttons are in a row */
        align-items: center;
        overflow-x: auto; /* Enable horizontal scrolling */
        white-space: nowrap; /* Prevent wrapping */
    }

    #time-range-buttons button {
        margin-bottom: 0; /* Remove bottom margin */
        width: auto; /* Ensure buttons do not stretch */
    }

    #time-range-buttons label {
        margin-top: 0; /* Remove top margin */
    }

}